:root{
  --littleGirlPink: #fce1e4;
  --eggshell: #daeaf6;
  --sage: #ddedea;
  --languidLavender: #e8dff5;
  --champagne: #fc4dd;
}

.App {
  text-align: center;
  height: 100vh;
}

.about{
  border: solid gray;
  color: var(--languidLavender);
}

.my-journey{
  background-color: black;
  width: 25rem;
  margin: auto;
  padding: 5rem 0;
}

.nav-bar{
  text-decoration: none;
  border: solid blue;
}

.contact{
  border: solid purple;
}

.header{
  color: var(--littleGirlPink);
}
