:root{
  --pastelTeal: #AAC9CE;
  --pastelEggplant: #B6B4C2;
  --pastelPurple: #C9BBC8;
  --pastelPink: #E5C1CD;
  --pastelBeige: #F3DBCF;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: var(--pastelBeige);
}

.header{
  height: 20vh;
  font-size: 5rem;
}

.about{
  border: solid gray;
}

.my-journey{
  background-color: var(--pastelEggplant);
  color: white;
  width: 35rem;
  margin: auto;
  padding: 1rem;
  border-radius: 5%;
}

.nav-bar{
  text-decoration: none;
  border: solid blue;
  
  height: 5vh;
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: var(--pastelTeal);
}
.contact{
  border: solid purple;
  position: absolute;
  bottom: 0rem;
}

.header{
  color: var(--littleGirlPink);
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects:img {
  width: 10rem;
  height: 10rem;
}

.project {
  display: flex;
}
