:root{
  --littleGirlPink: #F2BFD7;
  --piggyPink: #F6D7E8;
  --isabelline: #F6EDEE;
  --languidLavender: #F6EDEE;
  --champagne: #F2E8CE;
  --almond: #F1DCC5;
}

.App {
  background-color: var(--isabelline);
  text-align: center;
  height: 100vh;
}

.nav-bar{
  text-decoration: none;
}

.contact{
}

.header{
  color: var(--littleGirlPink);
}
